.balance{
    display: flex;
    align-items: center;
    
    color: greenyellow;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton{
    background: linear-gradient(to right ,greenyellow, lightgreen);
    color: white;
    height: 40px;
    width: 200px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}