.total_expenses{
    color: orange;
     display: flex;
    align-items: center;
}


h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addExpenseButton{
    background: linear-gradient(to right ,rgb(244, 144, 144), red);
    color: white;
    height: 40px;
    width: 200px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}